body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.page-container {
  max-width: 1100px;
}

.side-panel-left {
  display: none;
}

.side-panel-right {
  display: none;
}

h1 {
  margin: 0;
}

.blue-div {
  height: 600px;
  width: 2400px;
  position: absolute;
  transform: rotate(-25deg);
  top: -180px;
  right: -80px;
  background: #233556;
  z-index: -1;
}

.about {
  color: #e9ebee;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 4;
}

.nikki-outside {
  height: 400px;
  width: auto;
  z-index: 5;
}

.about section {
  align-self: center;
  color: black;
  background: #f7f7f7;
  padding: 15px;
  max-width: 600px;
  display: flex;
  flex-flow: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-links {
  align-self: flex-end;
  margin-top: auto;
}

.about-links img {
  height: 30px;
}

.work {
  padding: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
}

.work h1 {
  padding-bottom: 15px;
}

.project {
  display: flex column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: max-content;
}

.project img {
  width: 300px;
  height: 200px;
  object-fit: fill;
}

.info-panel {
  display: flex;
  align-items: center;
}

.info-panel p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 15px;
}

.project-links-container {
  padding-right: 20px;
  margin-left: auto;
}

.project-links-container img {
  height: 20px;
  width: auto;
  padding-left: 5px;
}

.project-description {
  margin: 0;
  padding: 0 15px 15px 15px;
  display: block;
  width: 200px;
  height: auto;
  overflow-wrap: break-word;
}

.contact-container {
  background: #233556;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact {
  padding: 30px;
  color: #e9ebee;
  display: flex;
  flex-direction: column;
}

.contact p {
  margin: 0;
  padding-top: 10px;
  max-width: 300px;
  display: flex;
  flex-flow: column nowrap;
}

.tele {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  padding: 20px 0 5px 0;
}

.tele img {
  width: 20px;
  height: auto;
  filter: invert(1);
}

.email img {
  width: 20px;
  height: auto;
  filter: invert(1);
}

.email {
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 10px;
}

.contact-links {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: center;
}

.contact h1 {
  align-self: center;
}

.contact-links img {
  height: 30px;
  width: auto;
}

.nikki-workstation {
  width: 100%;
  max-width: 412px;
  height: auto;
}

@media (min-width: 601px) {
  .nikki-outside {
    height: 250px;
  }
}

@media (min-width: 655px) {
  .nikki-workstation {
    padding: 30px;
    max-height: 351px; 
    width: auto;
  }

  .contact-links {
    align-self: flex-start;
  }
  
  .contact h1 {
    align-self: flex-start;
  }
}

@media (max-width: 600px) {
  .about section {
    max-width: 270px;
    box-shadow: none;
  }

  .about-links {
    align-self: center;
    margin-top: auto;
  }
}

@media (min-width: 1100px) {
  .side-panel-left {
    width: calc((100vw - 1100px) / 2);
    height: 100vh;
    z-index: 5;
    background-color: #f7f7f7;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .side-panel-right {
    width: calc((100vw - 1100px) / 2);
    height: 100vh;
    z-index: 5;
    background-color: #f7f7f7;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
}